.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-inline: 31px;
  }
  
  .toggleText {
    cursor: pointer;
    color: var(--color-primary);
    font-size: 20px;
  }
  
  .wrapper {
    margin-left: 31px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .cardWrapper {
    margin-top: 18px;
  }