.faqAccordion {
    background-color: var(--color-black) !important;
    color: var(--color-white) !important;
    border: 1px solid rgb(153, 153, 153);
    margin-bottom: 20px;
    border-radius: 4px !important;
  }
  
  .accordionWrapper {
    padding: 10px 50px;
    margin: 20px;
  }
  
  .accordionDetails {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 0px 0px 4px 4px;
  }
  
  @media (max-width: 560px) {
    .accordionWrapper {
      padding: 10px;
      margin: 10px;
    }
  }