:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #fff;
}

* {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
}

.swiper-slide {
  width: auto !important;
}

img,
svg {
  display: block;
  max-width: 100%;
}