.header {
    margin-inline: 31px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .cardWrapper {
    margin-top: 18px;
  }
  
  .tabList {
    margin-left: 31px;
  }
  .tabPanel {
    padding: 0 !important;
  }
  .tabWrapper {
    .genreTab {
      color: var(--color-white);
    }
    .selectedTab {
      color: var(--color-white) !important;
    }
  }