.herosection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  
  @media (max-width: 560px) {
    .heroText {
      font-size: 6vw;
    }
  }